@import url(./variables.css);

.content h2 {
    text-align: center;
    margin-top: 40px;
}

.content h2:first-of-type {
    margin-top: 0;
}

/* Experience Styles */
.work-experience .experience {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.experience a img {
	width: 400px;
	border: 2px solid var(--darker-grey);
	transition: var(--default-transition);
}

.experience a:hover img {
	border-color: var(--blue);
}

.experience md-block {
	width: 400px;
}

.experience h2 {
	text-align: left;
}

.experience h4 em {
	color: var(--light-grey);
	text-size: 0.9em;
}

@media (max-width: 576px) {
    .content .experience {
        width: 90% !important;
		margin: 0 auto;
        padding: 10px 0;
    }

    .content .experience:first-of-type {
        padding-top: 0 !important;
    }

    .content .experience:last-of-type {
        padding-bottom: 0 !important;
    }
}

/* Project Styles */
.content .game-projects,
.content .other-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content .project {
    width: 275px;
    height: auto;
    margin: 1vw;
    border: 2px solid var(--darker-grey);
    border-radius: var(--soft-radius);
    background: var(--grey);
    overflow: hidden;
    transition: var(--default-transition);
    position: relative;
}

.content .project:hover {
    border-color: var(--blue);
    text-decoration: none;
}

.content .game-projects .project {
    width: 425px;
}

.project img {
    width: 100%;
    height: 200px;
    border-radius: var(--soft-radius) var(--soft-radius) 0 0;
    transition: var(--default-transition);
}

.project:hover img {
    transform: translateY(-10px) scale(1.1);
}

.project md-block {
    text-align: center;
}

.project md-block > * {
    margin-top: 10px;
}

.project .tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    background-color: var(--darker-grey);
    border: 1px solid var(--blue);
    border-radius: 0 0 0 var(--soft-radius);
    border-width: 0 0 1px 1px;
}

@media (max-width: 576px) {
    .content .project {
        width: 90% !important;
        margin: 10px 0;
    }

    .content .project:first-of-type {
        margin-top: 0 !important;
    }

    .content .project:last-of-type {
        margin-bottom: 0 !important;
    }
}
