@import url(../variables.css);

.main {
    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 0;
    background-color: var(--darker-grey);
    border-radius: var(--soft-radius);
}

.main .info {
    margin: auto 50px;
}

.main img {
    width: 30%;
    height: 350px;
}

.main h2 {
    border: none;
}
