@import url(../variables.css);

.content {
    padding: 0;
    background-color: var(--black);
    border-radius: var(--soft-radius);
}

.content .wrapper {
    background-color: var(--darker-grey);
    border-radius: var(--soft-radius);
}

.content section {
    display: flex;
    padding: 30px;
}

.content section .info {
    margin: auto 50px;
    width: 100%;
}

.content section img {
    width: 30%;
    height: 350px;
}

section.general {
    flex-direction: row;
    padding-left: 0 !important;
    background-color: var(--black);
    border-radius: var(--soft-radius);
}

section.general h2 {
    border: none;
}

section.edu-hob {
    flex-direction: row-reverse;
    padding-right: 0 !important;
}

section.platforms {
    flex-direction: column;
    align-items: center;
}
